* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  text-align: center;
  margin-top: 20em;
}
#popup h4 {
  color: blue;
}
#popup a {
  background-color: white;
  color: rgba(90, 90, 249, 0.839);
  padding: 10px 20px;
  border: solid 1px rgba(90, 90, 249, 0.839);
  text-decoration: none;
}

#popup1 {
  margin: 0 auto;
  text-align: center;
  width: 400px;
  border: solid 10px gold;
  position: relative;
  border-radius: 10px;
  display: none;
  margin-top: -10em;
  line-height: 2px;
}
#popup1 img {
  width: 100%;
}

#popup1:target {
  display: block;
}

#chiusura a {
  border: solid 1px black;
  color: black;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  position: absolute;
  padding-top: 8px;
  left: -10px;
  top: -10px;
  text-decoration: none;
  background-color: gold;
}
